@import "./index.css";
.border {
  width: 1600;
  background-color: rgba(0, 0, 0, 0.08);
}

.BG {
  max-width: 100%;
  padding-top: 96px;
  padding-bottom: 32px;
  background-color: #232536;
  color: #ffffff;
}

.text-image-blog {
  display: flex;
}

.transform-text {
  width: 624px;
  height: 420px;
  align-items: start;
}

.imagess {
  padding-bottom: 24px;
}

.h1-big {
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
}
.the-text {
  width: 528px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  opacity: 60%;
}

.logo-strelka {
  padding-top: 32px;
}

.im-png {
  padding-left: 93px;
}

.svg-long-logo {
  padding-top: 32px;
}

.import {
  width: 523px;
  height: 623px;
}

/* SECTION2 */

.main-bosh {
  background-color: #ffffff;
}

.one-teacher {
  display: flex;
}
.ABOUT {
  margin-top: 120px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
}
.the-compny {
  padding-top: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}

.ofif {
  padding-top: 23px;
  width: 547px;
  height: 54px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
}
.through {
  padding-top: 40px;
  width: 570px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.two-teacher {
  gap: 11px;
  padding-top: 92px;
}
.raqamlar {
  padding-top: 48px;
  padding-bottom: 98px;
  gap: 66px;
  display: flex;
}

.soti {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #232536;
}

.project {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.btn-primary {
  color: #ffffff;
  background-color: #444cfc;
  background-image: url("../images/Shapes-btn.svg");
  background-repeat: no-repeat;
}

.btm {
  color: #444cfc;
  margin-top: 42px;
  margin-left: 440px;
}

.btm:hover {
  opacity: 0.8;
}

.btm:active {
  opacity: 0.6;
}

.btm-tex:hover {
  cursor: cell;
  transform: rotate(45deg);
  text-decoration: underline;
}

.btn-textr:hover {
  cursor: cell;
  transform: rotate(45deg);
  text-decoration: underline;
}

/* / */

.our {
  padding-top: 96px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
}

.BR {
  width: 733px;
  padding-top: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}
.real {
  width: 642px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/*  */
.section-nav {
  background-color: #ffffff;
}

.df-there {
  display: flex;
  margin-top: 68px;
  gap: 48px;
}

.df-theres {
  display: flex;
  margin-top: 48px;
  padding-bottom: 96px;
  gap: 48px;
}

.df-one {
  width: 400px;
  padding: 30px 11px 28px 32px;
  background-color: #ffffff;
}

.number {
  padding-left: 300px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  opacity: 20%;
}

.covid {
  padding-top: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #232536;
}
.the {
  padding-top: 8px;
  width: 300px;
  opacity: 60%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #232536;
}

/*  */
.top {
  height: 660px;
  display: flex;
  background-color: #ecf8f9;
}

.up {
  display: flex;
  gap: 141px;
}

.ourr {
  margin-top: 142px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
}
.get {
  padding-top: 16px;
  width: 622px;
  height: 232px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  text-align: left;
}
.text-text {
  padding-top: 24px;
  width: 622px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* ......... */
.nav-right {
  margin-top: 112px;
}

.dvays {
  width: 515px;
  padding: 32px 117px 32px 32px;
  display: flex;
  gap: 16px;
  background-color: #ffffff;
}

.dvaysov {
  margin-top: 12px;
  width: 515px;
  padding: 32px 117px 32px 32px;
  display: flex;
  gap: 16px;
  background-color: #ffffff;
}

.time {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
}
.texx {
  padding-top: 8px;
  width: 303px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #5d5f6d;
}

.sev-pink {
  height: 917px;
  background-color: #ffe6d2;
}

.pink-text {
  width: 777px;
  height: 310px;
}
.servis {
  padding-top: 96px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
}
.build {
  padding-top: 12px;
  width: 777px;
  height: 174px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  text-align: left;
}

/*  */
.one-two-there {
  display: flex;
  gap: 32px;
}

.img-pink {
  width: 405px;
  height: 335px;
  margin-top: 80px;
  padding-left: 48px;
  padding-top: 48px;
  background-color: #fff;
}

.oltinchi {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
.aim {
  padding-top: 8px;
  width: 326px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.btn {
  padding-top: 24px;
}

.btn-textr {
  color: #444cfc;
}

.section-nav {
  background-color: #f9f9ff;
}

.our {
  padding-top: 96px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
}

.BR {
  width: 733px;
  padding-top: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}
.real {
  width: 642px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.part1-part2 {
  padding-top: 68px;
  padding-bottom: 96px;
}

.part1 {
  display: flex;
}

.part2 {
  padding-top: 48px;
  display: flex;
}
/*  */

.to-all {
  background-color: #f9f9ff;
}

.ofor {
  display: flex;
  gap: 171px;
}

.bottom-left {
  width: 502px;
}
.smol-images {
  padding-top: 102px;
}

.h2-main {
  width: 492px;
  font-size: 48px;
  padding-top: 16px;
  font-weight: 600;
  line-height: 58px;
  text-align: left;
}
.text {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.text-two {
  width: 492px;
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.alot {
  padding-top: 24px;
  margin-bottom: 119px;
}

.bottom-right {
  margin-top: 115px;
  width: 607px;
  height: 340px;
  padding: 48px 69px 112px 40px;
  background-color: #ffffff;
  background-image: url("../images/cta\ img.svg");
  background-repeat: no-repeat;
}
.text-there {
  width: 498px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.person-ones {
  padding-top: 24px;
}
.logo-two {
  padding-left: 410px;
}

/*  */
.blog-section {
  background-color: #ecf8f9;
  padding-bottom: 96px;
  padding-top: 96px;
}

.kichkina {
  padding-bottom: 19px;
}

.blog-section-title {
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: 600;
}

.blog-items {
  display: flex;
  gap: 32px;
}

.blog-item {
  display: flex;
  background: #ffffff;
}

.blog-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.blog-time {
  margin-bottom: 8px;
  color: #232536;
  opacity: 60%;
}

.blog-item-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 24px;
}

.btn-blog {
  padding: 0;
}

.blog-content .btn-text {
  color: #444cfc;
}

.btn-text:hover {
  cursor: cell;
  transform: rotate(45deg);
  text-decoration: underline;
}
